@tailwind base;
@tailwind components;
@tailwind utilities;


/* banner css start */
.banner {
    text-align: center;
    color: #ffffff;
  }
  .banner h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
  }
  .banner h1 {
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    font-size: 54px;
    margin: 15px 0;
    font-weight: 600;
  }
  .banner p {
    font-size: 18px;
    font-weight: 400;
    color: #bbbbbb;
    margin-bottom: 20px;
  }
  .banner a {
    margin: 0 10px;
  }
  .box-btn {
    display: inline-block;
    background-color: tomato;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
  }
  .border-btn {
    display: inline-block;
    border: 2px solid tomato;
    color: #ffffff;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
  }
  /* banner css end */

  /* section title css start */
    .section-title{
      text-align: center;
    }
    .section-title h2{
      letter-spacing: 1px;
    }
    .section-title h2::before{
      position: absolute;
      content: "";
      width: 150px;
      height: 1px;
      background-color: #777;
      border: darkblue;
      bottom: 0px;
      left: 50%;
      margin-left: -75px;

    }
    .section-title h2::after{
      position: absolute;
      content: "";
      width: 80px;
      height: 3px;
      background-color: #e16038;
      border: darkblue;
      bottom: -1px;
      left: 50%;
      margin-left: -40px;

    }
  /* section title css end */


    /* About Area CSS */

.single-about i.bi {
    font-size: 25px;
  }
  .about-feature-icon{
    max-width: 60px;
  }
  .single-about h4 {
      margin: 20px 0;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 22px;
  }
  .single-about a {
    text-transform: capitalize;
    margin-top: 10px;
    display: block;
    color: tomato;
  }
  
  .about-text h4 {
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .about-text p {
    margin-bottom: 5px;
  }
  .about-text ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    float: left;
    width: 50%;
    margin: 15px 0;
  }
  .about-text ul li {
      margin-bottom: 10px;
      color: #646f79;
      font-size:14px;
  }
  .about-text ul li, .single-feature ul li {
      margin-bottom: 10px;
      color: #646f79;
      font-size:14px;
  }
  .about-text ul li i.bi, .single-feature ul li i.bi {
    padding-right: 5px;
    color:#646f79
  }
  
  .about-img img {
    width: 100%;
  }
  .about-img {
    position: relative;
    z-index: 2;
  }
  .about-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ff6347;
    z-index: -1;
    right: -10px;
    bottom: -10px;
  }

  /* Features Area Style */
  .single-feature ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    float: left;
    width: 50%;
    margin: 15px 0;
  }
  .features {
  }

  .fea-s-1{
    position: relative;
  }
  .fea-s-1::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #333333;
    opacity: 0.8;
  }
  .fea-s-2{
    position: relative;
  }
  .fea-s-2::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #333333;
    opacity: 0.8;
  }

  .single-feature {

  }
  .single-feature h4 {
    text-transform: uppercase;
    font-size: 34px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 700;
  }
  .single-feature h4:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background-color: tomato;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
  }
  .single-feature p {
    margin-bottom: 20px;
  }



  .feature-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .single-feature h6 {
    color: #777;
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .feature-box h5 {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 15px 0;
  }
  .feature-box {
    text-align: left;
    margin: 25px 0;
    padding: 12px;
  }
  .feature-box i.bi {
    font-size: 25px;
  }
  .single-feature a.box-btn {
    margin-top: 30px;
  }

  /* 6. Services Area CSS */

.single-service h4 {
	margin: 30px 0;
	font-size: 20px;
	font-weight: 700;
	position: relative;
}
.single-service {
	margin-bottom: 80px;
	text-align: left;
	box-shadow: 0 15px 40px #ededed;
	padding: 40px;
}
.single-service p {
	color: #646f79;
	line-height: 26px;
	font-size: 14px;
	font-weight:400
}

/* 7. Process Area CSS */

.single-process h6 {
	background-color: #e67e22;
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	text-transform: capitalize;
	font-size: 20px;
	position: relative;
	text-align: left;
	width: 100%;
	border-radius: 5px;
	font-weight: 500;
	margin-bottom: 20px;
}
.single-process h6 span {
  background-color: #d35400;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
}
.single-process h4 {
  text-transform: capitalize;
  font-size: 22px;
  color: #fff;
  margin: 20px 0;
}
.single-process p {
  color: #fff;
}